node-red-flow/flow.json
[{"id":"3c4b537.b8da1ac","type":"exec","z":"6d375f2.09432a","command":"sudo shutdown -t now","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":920,"y":200,"wires":[[],[],[]]},{"id":"b981e7d6.a48ba8","type":"rpi-gpio out","z":"6d375f2.09432a","name":"Rail-1","pin":"37","set":true,"level":"1","freq":"","out":"out","x":1870,"y":340,"wires":[]},{"id":"f189f832.f78c58","type":"inject","z":"6d375f2.09432a","name":"Fill","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":"5","x":1370,"y":680,"wires":[["a41c9923.059068"]]},{"id":"3c2b8bf4.ae3d04","type":"rpi-gpio out","z":"6d375f2.09432a","name":"Rail-2","pin":"33","set":true,"level":"1","freq":"","out":"out","x":1870,"y":440,"wires":[]},{"id":"3e453f75.2a1d6","type":"rpi-gpio out","z":"6d375f2.09432a","name":"3","pin":"40","set":true,"level":"1","freq":"","out":"out","x":1870,"y":500,"wires":[]},{"id":"4ea9389a.407108","type":"rpi-gpio out","z":"6d375f2.09432a","name":"8","pin":"31","set":true,"level":"1","freq":"","out":"out","x":1870,"y":860,"wires":[]},{"id":"3418298.81653d6","type":"rpi-gpio out","z":"6d375f2.09432a","name":"4","pin":"36","set":true,"level":"1","freq":"","out":"out","x":1870,"y":620,"wires":[]},{"id":"d624f45c.afe3c8","type":"rpi-gpio out","z":"6d375f2.09432a","name":"Fill","pin":"35","set":true,"level":"1","freq":"","out":"out","x":1870,"y":680,"wires":[]},{"id":"12c0a830.131518","type":"rpi-gpio out","z":"6d375f2.09432a","name":"Spray","pin":"38","set":true,"level":"1","freq":"","out":"out","x":1870,"y":740,"wires":[]},{"id":"8cc01508.404f18","type":"rpi-gpio out","z":"6d375f2.09432a","name":"7","pin":"32","set":true,"level":"1","freq":"","out":"out","x":1870,"y":800,"wires":[]},{"id":"99dd947d.da6198","type":"LCD20x4-I2C","z":"6d375f2.09432a","name":"LCD","speed":"3","size":"20x4","x":1030,"y":60,"wires":[]},{"id":"54dd1c86.bea3b4","type":"inject","z":"6d375f2.09432a","name":"","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"5","x":730,"y":60,"wires":[["79d430bd.18dfe"]]},{"id":"79d430bd.18dfe","type":"function","z":"6d375f2.09432a","name":"lcd msg","func":"msg.payload = {\n    msgs: [\n        {\n            msg: \"Hello World!\",\n            pos: 1,\n            center: true\n        },\n        {\n            msg: \"........testing...... perameters...\",\n            pos: 1,\n            center: false\n        },\n        {\n            msg: \"Water Temp: 67\",\n            pos: 1,\n            center: false\n        },\n        {\n            msg: \"EC: 456 - level 70%\",\n            pos: 1,\n            center: false\n        }\n    ]\n};\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":60,"wires":[["99dd947d.da6198"]]},{"id":"e5c5d334.5cd79","type":"inject","z":"6d375f2.09432a","name":"Reboot","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"2","x":730,"y":140,"wires":[["cbc4ade.e56d55"]]},{"id":"cbc4ade.e56d55","type":"exec","z":"6d375f2.09432a","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":890,"y":140,"wires":[[],[],[]]},{"id":"7c6edaf.20de924","type":"inject","z":"6d375f2.09432a","name":"Shutdown","topic":"","payload":"test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"2","x":740,"y":200,"wires":[["3c4b537.b8da1ac"]]},{"id":"18cd0f57.998f91","type":"rpi-gpio in","z":"6d375f2.09432a","name":"Radar","pin":"16","intype":"down","debounce":"25","read":false,"x":150,"y":240,"wires":[[]]},{"id":"7e59e93.7124518","type":"inject","z":"6d375f2.09432a","name":"11 am","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":0.1,"x":1140,"y":440,"wires":[["f9d1a01e.1a681","3c2b8bf4.ae3d04"]]},{"id":"f9d1a01e.1a681","type":"delay","z":"6d375f2.09432a","name":"","pauseType":"delay","timeout":"32","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":400,"wires":[["6d5ced8c.6f0934"]]},{"id":"6d5ced8c.6f0934","type":"change","z":"6d375f2.09432a","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":400,"wires":[["3c2b8bf4.ae3d04","b8afa0e9.55196"]]},{"id":"3782ddcb.1eeec2","type":"inject","z":"6d375f2.09432a","name":"11 pm","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":0.1,"x":1140,"y":360,"wires":[["db125917.9e75d8","b981e7d6.a48ba8"]]},{"id":"db125917.9e75d8","type":"delay","z":"6d375f2.09432a","name":"","pauseType":"delay","timeout":"32","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1360,"y":320,"wires":[["3adaadad.59e362"]]},{"id":"3adaadad.59e362","type":"change","z":"6d375f2.09432a","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":320,"wires":[["b981e7d6.a48ba8","f6e0b335.dffd9"]]},{"id":"c5980800.eb2788","type":"exec","z":"6d375f2.09432a","command":"espeak  'node red has started'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"espeak","x":460,"y":200,"wires":[[],[],[]]},{"id":"dc682a09.4a40a8","type":"inject","z":"6d375f2.09432a","name":"init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":110,"y":160,"wires":[["c5980800.eb2788","c3263f5a.6aabc"]]},{"id":"1e68100f.be6f8","type":"delay","z":"6d375f2.09432a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1340,"y":40,"wires":[["3ce16f5e.47e"]]},{"id":"cd777009.df094","type":"ui_switch","z":"6d375f2.09432a","name":"pump","label":"Main Pump","tooltip":"","group":"6a4b96fa.fbaeb8","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1690,"y":500,"wires":[["3e453f75.2a1d6","512acbb8.b750e4"]]},{"id":"2c0cb39c.b8845c","type":"inject","z":"6d375f2.09432a","name":"run water","topic":"","payload":"0","payloadType":"num","repeat":"3600","crontab":"","once":false,"onceDelay":"5","x":770,"y":720,"wires":[["a6d3ac75.7616e","1a0f3042.f365d"]]},{"id":"a6d3ac75.7616e","type":"trigger","z":"6d375f2.09432a","op1":"65","op2":"100","op1type":"num","op2type":"num","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"servo","x":950,"y":720,"wires":[["895c7f43.2eae6"]]},{"id":"9dda3b17.139718","type":"comment","z":"6d375f2.09432a","name":"servo positions","info":"65 bed 1\n100 bed 2\n135 recirculate\n165 drain\n","x":880,"y":620,"wires":[]},{"id":"1a0f3042.f365d","type":"trigger","z":"6d375f2.09432a","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"10","extend":false,"units":"min","reset":"","bytopic":"all","name":"pump","x":950,"y":780,"wires":[["cd777009.df094"]]},{"id":"d94582bd.484e8","type":"inject","z":"6d375f2.09432a","name":"Recirculate","topic":"","payload":"135","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"5","x":780,"y":680,"wires":[["d90cff58.28867","895c7f43.2eae6"]]},{"id":"d90cff58.28867","type":"trigger","z":"6d375f2.09432a","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"10","extend":false,"units":"min","reset":"","bytopic":"all","name":"pump","x":950,"y":660,"wires":[["cd777009.df094"]]},{"id":"46cae588.3fbaac","type":"arduino out","z":"6d375f2.09432a","name":"Arduino-9","pin":"9","state":"SERVO","arduino":"b9af3219.0817b","x":2820,"y":360,"wires":[]},{"id":"dc67e664.8e13b8","type":"trigger","z":"6d375f2.09432a","op1":"65","op2":"100","op1type":"num","op2type":"num","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"servo","x":1090,"y":1000,"wires":[[]]},{"id":"106aaf53.2c8e31","type":"delay","z":"6d375f2.09432a","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":940,"y":1040,"wires":[["c9d8b7d7.7e0628"]]},{"id":"c9d8b7d7.7e0628","type":"trigger","z":"6d375f2.09432a","op1":"132","op2":"166","op1type":"num","op2type":"num","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"servo","x":1090,"y":1040,"wires":[[]]},{"id":"8757a770.b22828","type":"inject","z":"6d375f2.09432a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1280,"y":120,"wires":[["3ce16f5e.47e"]]},{"id":"cb6f95ac.e09058","type":"exec","z":"6d375f2.09432a","command":"omxplayer --vol 1000 ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"omxplayer","x":1650,"y":180,"wires":[[],[],[]]},{"id":"3ce16f5e.47e","type":"random","z":"6d375f2.09432a","name":"random 1-21","low":"6","high":"21","inte":"true","property":"payload","x":1470,"y":80,"wires":[["cbd5b08b.ec92c"]]},{"id":"cbd5b08b.ec92c","type":"function","z":"6d375f2.09432a","name":"path","func":"var num = msg.payload;\nmsg.payload = \"/home/pi/.node-red/c3po/cp-\" + num + \".mp3\"\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":120,"wires":[["cb6f95ac.e09058"]]},{"id":"13eb4bdf.704634","type":"inject","z":"6d375f2.09432a","name":"on","topic":"","payload":"0","payloadType":"num","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":1330,"y":740,"wires":[["78caa762.14bed8"]]},{"id":"218f312a.8783ce","type":"inject","z":"6d375f2.09432a","name":"off","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":820,"wires":[["4fc2fa3c.f00834"]]},{"id":"4fc2fa3c.f00834","type":"ui_switch","z":"6d375f2.09432a","name":"spray","label":"Spray Bar","tooltip":"","group":"6a4b96fa.fbaeb8","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1690,"y":740,"wires":[["12c0a830.131518","d1d0d330.3a03"]]},{"id":"7b4108e4.b2a168","type":"ui_switch","z":"6d375f2.09432a","name":"Fill","label":"Tank Fill","tooltip":"","group":"6a4b96fa.fbaeb8","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":1690,"y":680,"wires":[["d624f45c.afe3c8","f75b8d41.f783e"]]},{"id":"aa43043e.258f98","type":"ui_button","z":"6d375f2.09432a","name":"Bed 1","group":"6a4b96fa.fbaeb8","order":2,"width":0,"height":0,"passthru":false,"label":"Pump to bed 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"65","payloadType":"num","topic":"","x":150,"y":500,"wires":[["9ed11179.78f6d"]]},{"id":"e00894d.9159c68","type":"ui_button","z":"6d375f2.09432a","name":"Bed 2","group":"6a4b96fa.fbaeb8","order":3,"width":0,"height":0,"passthru":false,"label":"Pump to bed 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"100","payloadType":"num","topic":"","x":150,"y":540,"wires":[["9ed11179.78f6d"]]},{"id":"d34dbd01.6c36","type":"ui_button","z":"6d375f2.09432a","name":"Rcirculate","group":"6a4b96fa.fbaeb8","order":4,"width":0,"height":0,"passthru":false,"label":"Recirulate Nutrients","tooltip":"","color":"","bgcolor":"","icon":"","payload":"135","payloadType":"num","topic":"","x":160,"y":580,"wires":[["9ed11179.78f6d"]]},{"id":"b3fe7021.a1728","type":"ui_button","z":"6d375f2.09432a","name":"Drain","group":"6a4b96fa.fbaeb8","order":5,"width":0,"height":0,"passthru":false,"label":"Pump to Drain","tooltip":"","color":"","bgcolor":"","icon":"","payload":"165","payloadType":"num","topic":"","x":150,"y":620,"wires":[["9ed11179.78f6d"]]},{"id":"9ed11179.78f6d","type":"link out","z":"6d375f2.09432a","name":"servo","links":["9dd70081.ad4c3"],"x":320,"y":560,"wires":[]},{"id":"9dd70081.ad4c3","type":"link in","z":"6d375f2.09432a","name":"servo","links":["9ed11179.78f6d","895c7f43.2eae6","6c7e11cb.857b3"],"x":2415,"y":440,"wires":[["46cae588.3fbaac","9ce3b896.19b5c8","eb31f20f.f0ea","7fb7ebf6.fe9234"]]},{"id":"eb31f20f.f0ea","type":"ui_gauge","z":"6d375f2.09432a","name":"Servo Position","group":"d38340b7.32e39","order":1,"width":0,"height":0,"gtype":"gage","title":"Servo Position","label":"degrees","format":"{{value}}","min":0,"max":"180","colors":["#0a5ffc","#0a5ffc","#0a5ffc"],"seg1":"65","seg2":"165","x":2840,"y":420,"wires":[]},{"id":"895c7f43.2eae6","type":"link out","z":"6d375f2.09432a","name":"servo","links":["9dd70081.ad4c3"],"x":1135,"y":600,"wires":[]},{"id":"c3263f5a.6aabc","type":"function","z":"6d375f2.09432a","name":"Global Variables","func":"\n\nglobal.set(\"auto\", true);\nglobal.set(\"sprayAuto\", false);\n//servo positions 65, 100, 135, 168 \nglobal.set(\"servo\", 65);\nglobal.set(\"waterLevel\", 19);\nglobal.set(\"ec\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[[]]},{"id":"9ce3b896.19b5c8","type":"function","z":"6d375f2.09432a","name":"Server Position","func":"\nvar degrees = msg.payload;\n\n//servo positions 65, 100, 135, 165 \n\nif (degrees === 65) {\n    msg.payload = \"'servo set to bed one'\"\n} else if (degrees === 100) {\n    msg.payload = \"'servo set to bed two'\";\n} else if (degrees === 135) {\n    msg.payload = \"'servo set to recirculate'\";\n} else if (degrees === 165) {\n    msg.payload = \"'servo set to drain'\";\n} else {\n    msg.payload = \"'servo unknown position'\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":2580,"y":500,"wires":[["b36455b3.00a588","f68ff5a9.1695d8"]]},{"id":"1955e41.5d6b81c","type":"ui_chart","z":"6d375f2.09432a","name":"Activity","group":"5c94a5a9.f5164c","order":1,"width":0,"height":0,"label":"Activity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Chart","dot":false,"ymin":"0","ymax":"180","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2280,"y":500,"wires":[[],[]]},{"id":"2de82c4.1297fd4","type":"inject","z":"6d375f2.09432a","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":2170,"y":200,"wires":[["17753050.e6891"]]},{"id":"78caa762.14bed8","type":"trigger","z":"6d375f2.09432a","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"15","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1510,"y":740,"wires":[["4fc2fa3c.f00834"]]},{"id":"80f73044.436de","type":"arduino in","z":"6d375f2.09432a","name":"Tank Level","pin":"3","state":"ANALOG","arduino":"b9af3219.0817b","x":1800,"y":1000,"wires":[["b4a872bb.be372"]]},{"id":"189e4ff1.9d8c9","type":"delay","z":"6d375f2.09432a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2130,"y":1000,"wires":[["4aaaa5ca.10a2ac"]]},{"id":"7ffe7fec.022fc","type":"ui_gauge","z":"6d375f2.09432a","name":"Tank","group":"d38340b7.32e39","order":2,"width":0,"height":0,"gtype":"gage","title":"Nutrient Tank Level","label":"gallons","format":"{{value}}","min":0,"max":"25","colors":["#f5e127","#17e600","#ca3838"],"seg1":"","seg2":"","x":2550,"y":960,"wires":[]},{"id":"4aaaa5ca.10a2ac","type":"range","z":"6d375f2.09432a","minin":"912","maxin":"749","minout":"2.5","maxout":"21","action":"scale","round":true,"property":"payload","name":"range","x":2270,"y":1000,"wires":[["7ffe7fec.022fc","1a0536e0.5c1a09","e7fae567.00e908"]]},{"id":"1a0536e0.5c1a09","type":"delay","z":"6d375f2.09432a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2370,"y":920,"wires":[["8f16761f.2d0d28"]]},{"id":"8f16761f.2d0d28","type":"function","z":"6d375f2.09432a","name":"Topic","func":"\nmsg.topic = \"Tank\";\nreturn msg;","outputs":1,"noerr":0,"x":2680,"y":880,"wires":[["1955e41.5d6b81c"]]},{"id":"17753050.e6891","type":"function","z":"6d375f2.09432a","name":"Topics","func":"\nvar msg1 = {}; //make new msg object named msg1\nvar servo = global.get(\"servo\")\nmsg1.payload = servo;\nmsg1.topic = \"Servo\"; //set topic for chart labels\n\nvar msg2 = {}; //make new msg object named msg1\nvar waterLevel = global.get(\"waterLevel\")\nmsg1.payload = waterLevel;\nmsg2.topic = \"Tank\"; //set topic for chart labels\n\n\nreturn [ null, msg2 ];","outputs":2,"noerr":0,"x":2330,"y":320,"wires":[[],[]]},{"id":"e7fae567.00e908","type":"function","z":"6d375f2.09432a","name":"Water Level","func":"\n\n\n//send water level to global variable\nglobal.set(\"waterLevel\", msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":2570,"y":1000,"wires":[[]]},{"id":"a41c9923.059068","type":"function","z":"6d375f2.09432a","name":"Water Logic","func":"\n\nvar level = global.get(\"waterLevel\");\nvar auto =global.get(\"auto\");\n\nif (level > 17) {\n    msg.payload = 1;\n}\n\nif (level < 14) {\n    msg.payload = 0;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":680,"wires":[["7b4108e4.b2a168"]]},{"id":"d1d0d330.3a03","type":"function","z":"6d375f2.09432a","name":"Topics","func":"var spray = msg.payload;\nmsg.topic = \"Spray\"; //set topic for chart labels\n//0 is on, 30-35 will give us a line on the chart just\n//above the water level line\nif (spray === 0) {\n    msg.payload = 25;\n    node.send(msg);// send old value first to give us a sqare wave instead of a sawtooth wave on the chart\n    msg.payload = 30\n}\nif (spray === 1) {\n    msg.payload = 30;\n    node.send(msg);\n    msg.payload = 25\n}\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1990,"y":700,"wires":[["1955e41.5d6b81c"]]},{"id":"f75b8d41.f783e","type":"function","z":"6d375f2.09432a","name":"Topics","func":"var fill = msg.payload;\nmsg.topic = \"Fill\"; //set topic for chart labels\n//0 is on, 40-45 will give us a line on the chart just\n//below the servo position\nif (fill === 0) {\n    msg.payload = 40;\n    node.send(msg);// send old value first to give us a sqare wave instead of a sawtooth wave on the chart\n    msg.payload = 45\n}\nif (fill === 1) {\n    msg.payload = 45;\n    node.send(msg);\n    msg.payload = 40\n}\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1990,"y":640,"wires":[["1955e41.5d6b81c"]]},{"id":"b36455b3.00a588","type":"ui_text","z":"6d375f2.09432a","group":"6a4b96fa.fbaeb8","order":1,"width":0,"height":0,"name":"","label":"Servo:","format":"{{msg.payload}}","layout":"row-spread","x":2810,"y":460,"wires":[]},{"id":"f68ff5a9.1695d8","type":"exec","z":"6d375f2.09432a","command":"espeak  ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"espeak","x":2820,"y":520,"wires":[[],[],[]]},{"id":"512acbb8.b750e4","type":"function","z":"6d375f2.09432a","name":"Topics","func":"var pump = msg.payload;\nmsg.topic = \"Pump\"; //set topic for chart labels\n//0 is on, 40-45 will give us a line on the chart just\n//below the servo position\nif (pump === 0) {\n    msg.payload = 50;\n    node.send(msg);// send old value first to give us a sqare wave instead of a sawtooth wave on the chart\n    msg.payload = 55\n}\nif (pump === 1) {\n    msg.payload = 55;\n    node.send(msg);\n    msg.payload = 50;\n}\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1990,"y":460,"wires":[["1955e41.5d6b81c"]]},{"id":"7fb7ebf6.fe9234","type":"function","z":"6d375f2.09432a","name":"Topic","func":"var old = global.get(\"servo\");\nvar now = msg.payload;\nmsg.topic = \"Servo\";\nmsg.payload = old;\nnode.send(msg);\nmsg.payload = now;\nglobal.set(\"servo\", now)\nreturn msg;","outputs":1,"noerr":0,"x":2550,"y":540,"wires":[["1955e41.5d6b81c"]]},{"id":"f6e0b335.dffd9","type":"function","z":"6d375f2.09432a","name":"Topics","func":"var pump = msg.payload;\nmsg.topic = \"Light\"; //set topic for chart labels\n\n\nmsg.payload = 170;\nnode.send(msg); // send old value first to give us a sqare wave instead of a sawtooth wave on the chart\nmsg.payload = 180;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1990,"y":300,"wires":[["1955e41.5d6b81c"]]},{"id":"b8afa0e9.55196","type":"function","z":"6d375f2.09432a","name":"Topics","func":"var pump = msg.payload;\nmsg.topic = \"Light\"; //set topic for chart labels\n\n\nmsg.payload = 180;\nnode.send(msg); // send old value first to give us a sqare wave instead of a sawtooth wave on the chart\nmsg.payload = 170;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1990,"y":400,"wires":[["1955e41.5d6b81c"]]},{"id":"c560505c.eb953","type":"arduino in","z":"6d375f2.09432a","name":"EC","pin":"2","state":"ANALOG","arduino":"b9af3219.0817b","x":1810,"y":1080,"wires":[["17337337.edde6d"]]},{"id":"e015c66d.bc5f28","type":"delay","z":"6d375f2.09432a","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2120,"y":1080,"wires":[["8e8a0f4a.f18c","4db31637.7a8838"]]},{"id":"8e8a0f4a.f18c","type":"range","z":"6d375f2.09432a","minin":"425","maxin":"825","minout":"80","maxout":"623","action":"scale","round":true,"property":"payload","name":"range","x":2310,"y":1080,"wires":[["67872d91.2fda84"]]},{"id":"49fc3f58.083e1","type":"ui_gauge","z":"6d375f2.09432a","name":"EC PPM","group":"d38340b7.32e39","order":3,"width":0,"height":0,"gtype":"gage","title":"EC PPM","label":"PPM","format":"{{value}}","min":0,"max":"1200","colors":["#f5e127","#17e600","#ca3838"],"seg1":"","seg2":"","x":2700,"y":1180,"wires":[]},{"id":"844125a4.5feeb8","type":"comment","z":"6d375f2.09432a","name":"0 for ON 1 for OFF","info":"Since sending a LOW to the relay board\nflips the resly, HIGH or 1 is OFF\nand LOW or 0 turns it ON","x":1890,"y":260,"wires":[]},{"id":"4db31637.7a8838","type":"debug","z":"6d375f2.09432a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2630,"y":1260,"wires":[]},{"id":"be5e505.4d3abb","type":"arduino out","z":"6d375f2.09432a","name":"Power to EC meter","pin":"4","state":"OUTPUT","arduino":"b9af3219.0817b","x":1790,"y":1200,"wires":[]},{"id":"67872d91.2fda84","type":"function","z":"6d375f2.09432a","name":"global.set","func":"global.set(\"ec\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2500,"y":1080,"wires":[[]]},{"id":"17337337.edde6d","type":"smooth","z":"6d375f2.09432a","name":"average","property":"payload","action":"mean","count":"100","round":"","mult":"single","x":1960,"y":1080,"wires":[["e015c66d.bc5f28"]]},{"id":"56603379.b3e91c","type":"inject","z":"6d375f2.09432a","name":"EC","topic":"","payload":"1","payloadType":"num","repeat":"3600","crontab":"","once":true,"onceDelay":"5","x":1410,"y":1180,"wires":[["be5e505.4d3abb","8e557d28.b2bb8","24d7752c.dbf4ba"]]},{"id":"8f334bc8.b6c6e8","type":"change","z":"6d375f2.09432a","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1910,"y":1300,"wires":[["be5e505.4d3abb"]]},{"id":"8e557d28.b2bb8","type":"delay","z":"6d375f2.09432a","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1760,"y":1300,"wires":[["8f334bc8.b6c6e8"]]},{"id":"24d7752c.dbf4ba","type":"delay","z":"6d375f2.09432a","name":"","pauseType":"delay","timeout":"14","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1760,"y":1140,"wires":[["d18dea61.e82468"]]},{"id":"d18dea61.e82468","type":"function","z":"6d375f2.09432a","name":"global.set","func":"msg.payload = global.get(\"ec\");\nreturn msg;","outputs":1,"noerr":0,"x":2500,"y":1140,"wires":[["49fc3f58.083e1","dc9e3cab.e9abc"]]},{"id":"dc9e3cab.e9abc","type":"ui_chart","z":"6d375f2.09432a","name":"Nutrient Level","group":"5c94a5a9.f5164c","order":1,"width":0,"height":0,"label":"Nutrient Level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Chart","dot":false,"ymin":"0","ymax":"1200","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2720,"y":1140,"wires":[[],[]]},{"id":"7a434a9a.abe1f4","type":"inject","z":"6d375f2.09432a","name":"Drain","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":false,"onceDelay":"5","x":670,"y":540,"wires":[["7f982570.5eccfc"]]},{"id":"7f982570.5eccfc","type":"function","z":"6d375f2.09432a","name":"Drain Logic","func":"\n\nvar level = global.get(\"waterLevel\");\n\n\nif (level > 21) {\n    msg.payload = 0;\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":810,"y":540,"wires":[["60593d97.b139c4","41b00797.711d88"]]},{"id":"41b00797.711d88","type":"trigger","z":"6d375f2.09432a","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"1","extend":false,"units":"min","reset":"","bytopic":"all","name":"pump","x":990,"y":500,"wires":[["cd777009.df094"]]},{"id":"60593d97.b139c4","type":"change","z":"6d375f2.09432a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"165","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":540,"wires":[["895c7f43.2eae6"]]},{"id":"53f1a660.9c1558","type":"comment","z":"6d375f2.09432a","name":"Overfill Drain Nodes","info":"If level gets too high, tank\ndrains for 1 min.\n","x":830,"y":480,"wires":[]},{"id":"b4a872bb.be372","type":"smooth","z":"6d375f2.09432a","name":"average","property":"payload","action":"mean","count":"100","round":"","mult":"single","x":1980,"y":1000,"wires":[["189e4ff1.9d8c9"]]},{"id":"91c1102d.3b17","type":"comment","z":"6d375f2.09432a","name":"Arduino Analog Inputs","info":"","x":1820,"y":960,"wires":[]},{"id":"b71a22a0.a4c0c","type":"comment","z":"6d375f2.09432a","name":"Arduino Output Pin","info":"Since I do not want constant current\ncausing electrolisis in my electrodes,\nI use pin 4 to send +5v once per hour\nfor about 15 seconds.\nDuring this time I read the electrical \nconductivity and convert it to PPM with a\nrange node","x":2110,"y":1160,"wires":[]},{"id":"20ccfd9b.3c57d2","type":"ui_button","z":"6d375f2.09432a","name":"EC btn","group":"d38340b7.32e39","order":5,"width":0,"height":0,"passthru":false,"label":"Test EC Now","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":1410,"y":1220,"wires":[["24d7752c.dbf4ba","be5e505.4d3abb","8e557d28.b2bb8"]]},{"id":"6a4b96fa.fbaeb8","type":"ui_group","z":"","name":"controls","tab":"e528af5d.88e99","order":1,"disp":true,"width":"6","collapse":false},{"id":"b9af3219.0817b","type":"arduino-board","z":"","device":"/dev/ttyUSB0"},{"id":"d38340b7.32e39","type":"ui_group","z":"","name":"Gauges","tab":"e528af5d.88e99","order":3,"disp":true,"width":"6","collapse":false},{"id":"5c94a5a9.f5164c","type":"ui_group","z":"","name":"Charts","tab":"e528af5d.88e99","order":2,"disp":true,"width":"12","collapse":false},{"id":"e528af5d.88e99","type":"ui_tab","z":"","name":"Grow Box","icon":"dashboard","order":1}]
